<p id="notice"><%= notice %></p>

<p>
  <strong>Technology:</strong>
  <%= @tech.technology %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @tech.date_created %>
</p>

<p>
  <strong>Version:</strong>
  <%= @tech.version %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @tech.desc %>
</p>

<%= image_tag(@tech.logo) %>

<p>
  <strong>User:</strong>
  <%= @tech.user.first_name %>
</p>

<br>

<h3 style="text-decoration:underline;"><%= @tech.technology%>'s Comments</h3>
<% @tech.comments.each do |comment| %>
  <ul>
    <% if @tech.user.id == current_user.id %>
      <%= link_to edit_tech_comment_path(comment.tech_id,comment.id) do %>
      <%= comment.body %>
    <% end %>
    <% else %>
      <%= comment.body %>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New Comment', new_tech_comment_path(@tech) %>
<% if @tech.user.id == current_user.id %>
<%= link_to 'Edit', edit_tech_path(@tech) %> |
<% end %>
<%= link_to 'Back', teches_path %>
