<nav class="navbar navbar-expand-sm navbar-light bg-info">
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'Technology', teches_path, class:'nav-link' %>
    </li>

    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'User Profiles', users_path(@user), class:'nav-link' %>
      </li>
    <% end %>
  </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link">User signed in as: <%= current_user.first_name %></a>
        </li>
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
</nav>
