<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @user.occupation %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>

<%= image_tag(@user.prof_pic) %>

<% if @user.id == current_user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
